.MainForm .Input {
  width: 50%;
  margin: 0 auto;
}
.MainForm .Input input {
  width: 100%;
  padding: 8px 8px;
  line-height: 8px;
  font-size: 1.2em;
  color: #333;
}
.MainForm Button {
  margin: 20px 45%;
}
